@if $column_position == "right" {
  .topic-list .topic-list-data {
    &:not(.bulk-select-enabled) {
      .right {
        margin-left: 0;
      }

      .pull-left {
        display: none;
      }
    }

    &.custom-author-column {
      vertical-align: top;
      padding-left: 1em;
    }
  }
}
